.loading-wrapper{
	top: 50%;
    position: relative;
    margin: auto;
    height: 15px;
    width: 60px;
}
.loading{
  width:15px;
  height:15px;
  background:#FFF;
  border-radius:100%;
  float:left;
  margin-right:5px;
}
.loading-0{
    -webkit-animation:bounce 1s infinite;
    -webkit-animation-delay:.1s;
    background: #4286f2;
  
}
.loading-1{
    -webkit-animation:bounce 1s infinite;
    -webkit-animation-delay:.3s;
    background: #4286f5;
}
.loading-2{
    -webkit-animation:bounce 1s infinite ease;
    -webkit-animation-delay:.5s;
    background: #4286f6;
}
@-webkit-keyframes bounce {
  0%, 100% {
    opacity:1;
  }
  60% {
    opacity:.0;
   
  }
}